params {
    rundir = 'tiny-bcl-2.0.0'
    samplesheet = 'tiny-bcl-samplesheet-2.1.0.csv'
    whitelist = '4M-with-alts-february-2016.txt'
    outdir = "outs"
}

process {
    executor = 'local'
    memory = '4GB'
    cpus = 1
    // Allocate all available resources to the bcl2fastq process.
    withName: bcl2fastq {
        executor = 'local'
            memory = '12GB'
            cpus = 4
    }
    withLabel: small_mem {
        executor = 'local'
        memory = '1GB'
        cpus = 1
    }
}

executor {
    name = 'local'
    cpus = 4
    memory = '15GB'
    queueSize = 20
}

